main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

body {
    padding-top: 80px;
    padding-bottom: 3.5%;
}

button {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

video {
    max-width: 500px;
    max-height: 400px;
}

.bigName {
    font-size: 50px;
    text-align: center;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 15px;
    transition: width 0.4s ease;
    border-radius: 10px;
    width: 0;
}

.cut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 5px solid black;
}

.playback-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#speed-value,
#speed-value2 {
    width: 30px;
    text-align: center;
}

#process,
#process2 {
    background: transparent;
    border: none;
    height: 50px;
    margin: 20px;
    display: none;
}

#timestamp,
#timestamp2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(250, 218, 122, 0.9);
}

#timestamps-table,
#timestamps-table2 {
    display: none;
    margin-top: 20px;
}

#clear-table-button,
#clear-table-button2 {
    text-decoration: none;
    width: 10%;
    padding: 10px;
    margin: 20px;
    background: linear-gradient(180deg, #b2bdfe, #706d8b);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    display: none;
}

#clear-table-button:hover,
#clear-table-button2:hover {
    background: linear-gradient(0deg, #b2bdfe, #706d8b);
}

.controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
    width: 90%;
}

.controls button {
    width: 50px;
    background: transparent;
    font-size: 30px;
    height: 50px;
    padding: 0px;
}

.download-frame-button {
    background-color: transparent;
    padding: 0;
    border: none;
}

.times-container {
    display: flex;
    flex-direction: column;
    align-content: start;
}

.time-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.start-time-container,
.end-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px solid #FADA7A;
    padding: 20px;
    border-radius: 20px;
}

.time-input-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin: 20px1;
}

.start-time-input,
.end-time-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.save-timestamp-button {
    text-decoration: none;
    width: 30%;
    padding: 10px;
    margin: 20px;
    background: linear-gradient(180deg, #FADA7A, #ffbf00);
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.save-timestamp-button:hover {
    background: linear-gradient(0deg, #FADA7A, #ffbf00);
}

#video-name,
#video-name2 {
    margin: 10px;
}

.divide {
    height: 40px;
    width: 500px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secondVideo {
    display: none;
}

#videoPlayer2 {
    align-self: center;
}

#secondVideo {
    display: none;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 150px;
}

.videoEditContainer {
    border: 5px solid black;
    border-radius: 10px;
    border-color: #FADA7A;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondVideoBtn {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #FADA7A, #ffbf00);
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

label {
    font-size: 14px;
}

.secondVideoBtn:hover {
    background: linear-gradient(0deg, #FADA7A, #ffbf00);
}


.video-editors {
    display: flex;
    flex-direction: row;
    max-width: 90%;
}