main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
}

.bigName {
    font-size: 50px;
    text-align: center;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 15px;
    transition: width 0.4s ease;
    border-radius: 10px;
    width: 0;
}

.cut-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 5px solid black;
}

.playback-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
}

#speed-value,
#speed-value2 {
    width: 30px;
    text-align: center;
}

#process,
#process2 {
    background: transparent;
    border: none;
    height: 50px;
    margin: 20px;
    display: none;
}

#timestamp,
#timestamp2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(250, 218, 122, 0.9);
}

#timestamps-table,
#timestamps-table2 {
    display: none;
    margin-top: 20px;
}

#clear-table-button,
#clear-table-button2 {
    display: none;
    background-color: #FADA7A;
    margin: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 20px;
    width: 90%;
}

.controls button {
    width: 50px;
    background: transparent;
    font-size: 30px;
    height: 50px;
    padding: 0px;
}

.download-frame-button {
    background-color: transparent;
    padding: 0;
    border: none;
}

.times-container {
    display: flex;
    flex-direction: column;
    align-content: start;
}

.time-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.start-time-container,
.end-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px solid #FADA7A;
    padding: 20px;
    border-radius: 20px;
}

.time-input-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin: 20px1;
}

.start-time-input,
.end-time-input {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.save-timestamp-button {
    background-color: #FADA7A;
    height: 50px;
    border-radius: 10px;
}

#video-name,
#video-name2 {
    margin: 10px;
}

.divide {
    height: 40px;
    width: 100%;
    background-color: aquamarine;
    margin: 30px 0;
}

#secondVideo {
    display: none;
}

#videoPlayer2 {
    align-self: center;
}

#secondVideo {
    display: none;
    flex-direction: column;
    align-items: center;
}