@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.title-container {
    display: flex;
    justify-content: center;
}

#title {
    position: sticky;
    top: -10px;
    z-index: 1000;
    position: aboslute;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b2bdfe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mainTitle {
    color: white;
    margin: 10px;
    color: #4762ff;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #b2bdfe, #706d8b);
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

.videoContainerTemp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoContainerTemp a {
    margin-top: 10px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-buttons button {
    padding: 5px 10px;
    margin: 5px;
    font-size: 12px;
    background-color: #FADA7A;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.footer {
    background-color: #81BFDA;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px 0px;
}

.footer p {
    text-shadow: 2px 2px 4px #FADA7A;
    margin: 0;
}

.footer img {
    margin: 5px;
}

.footer a {
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.navbar {
    z-index: 1000;
    background-color: #ffffff;
    padding: 0px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    list-style-type: none;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    display: inline;
}

.navbar ul li button {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    background: linear-gradient(180deg, #b2bdfe, #706d8b);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    display: block;
}

.navbar ul li button:hover {
    background: linear-gradient(0deg, #b2bdfe, #706d8b);
}

.main-content {
    padding: 20px;
    background: linear-gradient(135deg, #b2bdfe, #706d8b);
}

.video-section {
    margin-bottom: 40px;
    background: linear-gradient(135deg, #b2bdfe, #706d8b);
}

.video-section h2 {
    color: #4762ff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog li {
    list-style-type: none;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease;
}

.catalog li img {
    display: block;
    margin: 10px;
}

.video-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-list li {
    background-color: #F5F0CD;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 23%;
    text-align: center;
}